.imgGrid{
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    div{
        min-height: 300px;
        
    }

}
#item1{
    background-image: url('/img/1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    position: relative;
    span{
        position: relative;
    }
    &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #808080;
    opacity: 0;
    transition: opacity 1s ease;
    }
    &:hover::before{
        opacity: 0.8;
    }
    &:hover{
        color: #2f8dee;
    }
}
#item2{
    background-image: url('/img/2.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    position: relative;
    span{
        position: relative;
    }
    &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #808080;
    opacity: 0;
    transition: opacity 1s ease;
    }
    &:hover::before{
        opacity: 0.8;
    }
    &:hover{
        color: #2f8dee;
    }
}
#item3{
    background-image: url('/img/3.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    position: relative;
    span{
        position: relative;
    }
    &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #808080;
    opacity: 0;
    transition: opacity 1s ease;
    }
    &:hover::before{
        opacity: 0.8;
    }
    &:hover{
        color: #2f8dee;
    }
}
#item4{
    background-image: url('/img/4.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    position: relative;
    span{
        position: relative;
    }
    &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #808080;
    opacity: 0;
    transition: opacity 1s ease;
    }
    &:hover::before{
        opacity: 0.8;
    }
    &:hover{
        color: #2f8dee;
    }
}
#item5{
    background-image: url('/img/5.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    position: relative;
    span{
        position: relative;
    }
    &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #808080;
    opacity: 0;
    transition: opacity 1s ease;
    }
    &:hover::before{
        opacity: 0.8;
    }
    &:hover{
        color: #2f8dee;
    }
}
#item6{
    background-image: url('/img/6.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 2rem;
    font-style: italic;
    position: relative;
    span{
        position: relative;
    }
    &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #808080;
    opacity: 0;
    transition: opacity 1s ease;
    }
    &:hover::before{
        opacity: 0.8;
    }
    &:hover{
        color: #2f8dee;
    }
}
#item7{
    background-image: url('/img/7.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    color: orangered;
    font-size: 2rem;
    position: relative;
    span{
        position: relative;
    }
    &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #808080;
    opacity: 0;
    transition: opacity 1s ease;
    }
    &:hover::before{
        opacity: 0.8;
    }
    &:hover{
        color: #2f8dee;
    }
}
#item8{
    background-image: url('/img/8.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
    font-size: 2rem;
    position: relative;
    span{
        position: relative;
    }
    &::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #808080;
    opacity: 0;
    transition: opacity 1s ease;
    }
    &:hover::before{
        opacity: 0.8;
    }
    &:hover{
        color: #2f8dee;
    }
}